.row-bottom-margin {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-wrap: wrap;
    margin-top: 0.2em ;
    /* margin-bottom: 0.2em ; */
    /* padding-top: 0px;
    padding-bottom: 0px; */
    /* min-height: 7em; */
    min-width: 48vw; 
    min-height: 17vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1em;
}

.row-bottom-margin > [class*='col-'] {
    display: flex;
    flex-direction: column;
  }

  .article-element {
      width: 100%;
  }

  .reduced_margin {
      margin-bottom: 0.05em;
      padding-bottom: 0.05em;
  }

.navbar_recolored {
    color: black;
    background-color: rgba(196, 18, 18, 0.712);
    border-radius: 0%;
    border-width: 0px;
}

.checkbox_aligh_right {
    margin-left: 98%;
}

.red_button {
    background-color: rgba(196, 18, 18, 0.712);
}