{% extends "layout.html"%}
{% block content %}
    {% for article in articles %}

    <article class="media content-section ">
        <div class = "col-sm-6">
        <div class="well row-bottom-margin">

          <div class="article-metadata">
            
          </div>
          <a class="article-title" href="{{ article.url }}">{{ article.title }}</a>
        </div>
    </div>
      </article>
    <!-- <div class="col-sm-6">
        <div class="well"><a href="">{{ article.title }}</a></div>
    </div> -->
    {% endfor %}
{% endblock content %}

<!-- <a class="mr-2" href="#">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted }}</small> -->